<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- 在environments配置数据库连接信息 -->
  <!-- 在environments标签中可以定义多个environment标签，每个environment标签可以定义一套连接配置 -->
  <!-- default属性，用来指定使用哪个environment标签 -->
  <environments default="mysql">
    <environment id="mysql">
      <!--transactionManager标签用于配置数据库管理方式-->
      <transactionManager type="JDBC"></transactionManager>
      <!--dataSource标签就是用来配置数据库连接信息 -->
      <dataSource type="POOLED">
        <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://172.18.211.89:3306/mybatis"/>
        <property name="username" value="root"/>
        <property name="password" value="123"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="mapper/UserMapper.xml"></mapper>
  </mappers>
</configuration>